body { font-family: sans-serif; font-size: 14px; line-height: 1.6em; }
.body { width: 800px; margin: 10px auto; }

/* Upload image dialog */
.uploadimage-dragndrop { border: 2px dashed #DDD; margin: 20px 0; padding: 50px 20px; text-align: center; color: #DDD; }
.uploadimage-text { font-size: 32px; margin-bottom: 20px; }
.uploadimage-input { margin: 20px 0; }
.uploadimage-upload { background: #EEE; margin: 4px 0; }
.uploadimage-uploadcompleted { background: #d1f4ac; }
.uploadimage-fileinfo { padding: 5px; font-size: 11px; position: relative; }
.uploadimage-progresspct { position: absolute; top: 5px; right: 5px; }
.uploadimage-progress { background: #999; }
.uploadimage-progressbar { background: maroon; height: 2px; }
.uploadimage-totalprogress { background: #999; }
.uploadimage-totalprogressbar { background: #107EC2; height: 6px; }

.description { margin: 40px 0; }